// Configuration
@use 'base/variables';
@use 'base/reset';
@use 'base/_admin_variables';
// Components
@use 'component/forms';

// admin 
@use 'component/_admin_button.scss';
@use 'component/_admin_dropdown.scss';
@use 'component/_admin_sidebase.scss';
@use 'component/_admin_topbar.scss';
@use 'component/_admin_layout';


//usermanagement under of admin
@use 'component/_admin_mu_btn.scss';
@use 'component/_admin_mu_card.scss';
@use 'component/_admin_mu_dropdown.scss';
@use 'component/_admin_mu_forms.scss';
@use 'component/_admin_mu_pagination.scss';
@use 'component/_admin_mu_tables.scss';
@use 'component/_admin_um_usermange.scss';


@use 'component/_admin_tm_table.scss';
@use 'component/_admin_im_stocklevel.scss';

@use 'component/_admin_mu_create.scss';
@use 'component/_admin_dashboard.scss';
@use 'base/_admin_typography.scss';
@use 'base/_mixin.scss';
@use 'component/_admin_tm_bookingcalendar.scss';
@use 'component/_admin_mu_delete.scss';
@use'component/_admin_mm_menu.scss';
@use 'component/_admin_mu_activitylogs.scss';
@use 'component/_admin_ra_salesreport.scss';


.main-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}