<!DOCTYPE html>
<!-- base.html -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}meme{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pos.css') }}">
</head>
<body>
    <div class="pos-container">
        {% include "pages/staff/partials/header.html" %}
        {% comment %} {% include "pos/partials/subheader.html" %}
        
        <div class="main-content">
            <div class="product-panel">
                {% include "pos/partials/products.html" %}
            </div>
            <div class="sidebar-panel">
                {% include "pos/partials/order.html" %}
            </div>
        </div>
        
        {% include "pos/partials/footer.html" %}
        {% include "pos/partials/payment.html" %}
        {% include "pos/partials/alerts.html" %} {% endcomment %}
    </div>
    

</body>
</html>