<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Mashiketta - Your Learning Platform">
    <meta name="keywords" content="Mashiketta, Learning, Education, Online Courses">
    <meta name="author" content="Mashiketta Team">
    <title>Mashiketta</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
        <main class="main-container">
            <form action="" method="post" enctype="multipart/form-data" class="form-wrapper">
                <img src="{{ url_for('static', filename='images/login-icon.svg') }}" alt="Login Icon">    

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" required class="text-box-1" placeholder="Enter your email">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required class="text-box-1" placeholder="Enter your password">
                </div>

                <div class="Sub-divider"></div>
                <div class="form-group">
                    <button type="submit">Login</button>
                </div>
            </form>
        </main>
</body>
</html>